.container {
    margin: 40px auto;
    padding: 0;
    width: 1000px;

}

table {
    margin: auto;
    width: 900px;
}

h1 {
    text-align: center;
}

td {
    background-color: coral;
}

th {
    text-align: center;
    background-color: grey;
}

table,
th,
td {
    border: 1px solid #000;
}