.container {
    margin: 40px auto;
    padding: 0;
    width: 700px;

}

table {
    margin: auto;
    width: 700px;
    margin-bottom: 40px;
}

h1 {
    text-align: center;
}

td {
    background-color: coral;
    margin-right: 200px;
}

.action {
    text-align: center;
    margin-right: 10px;
}

th {
    text-align: center;
    background-color: grey;
}

table,
th,
td {
    border: 1px solid #000;
}